@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}

header{
	display: flex;
	justify-content: flex-end;
	background-color: #2f4f4f;
	color: white;
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #747979;
}
header h3{
	line-height: 0;
	position: absolute;
	top: 15px;
	left: 30%;
	font-size: medium;
}
button{
	border: none;
}

.color_blue{
.blue{
	width: 30px;
	height: 30px;
	background-color: #013780;
	border-left: 1px solid #747979;
	border-bottom: 1px solid #747979;

	
}
.black{
	width: 30px;
	height: 30px;
	background-color: #1c1c1c;
	border-left: 1px solid #747979;
	border-bottom: 1px solid #747979;
}

.sidebar{
	background-color: #013780;
	height: 40px;
	width: 100%;
}
.burger{
	width: 25px;
	height: 25px;
	padding: 2px;
	background-color: #01295e;
	border-radius: 2px;
	position: absolute;
	top: 38px;
	left: 8px;
}
.burger img{
	width: 21px;
	height: 21px;
}
.third{
	width: 100%;
	height: 73px;
	display: flex;
	background-color: black;
	align-items: center;
	justify-content: center;
}
#leftarrow{
	background-color: black;
	width: 38px;
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#rightarrow{
	background-color: black;
	width: 38px;
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.search_bg{
	background-color: black;
	width: 50px;
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6px;
}
.search{
	width: 32px;
	height: 32px;
	background-color: red;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.search img{
	width: 12px;
	height: 12px;
	transform: translateY(-160px);
	filter: drop-shadow(#ffffff 0 160px);
}

.type{
	display: flex;
	overflow-x: scroll;
	
}

#yt{
	background-color: red;
	color: white;
}

.text{
	background-color: #747979;
	color: white;
	margin: 18px 6px 18px 0;
	padding: 6px 10px;
	border-radius: 5px;
}




.list{
	display: none;
	background-color: #1c1c1c;
	color: white;
	width: 140px;
	height: auto;
	font-size: 17px;
	padding: 10px;
}
.x{
	float: right;
	padding-right: 6px;
}
.list img{
	width: 17px;
}

.list a:link, a:visited{
	color: white;
	text-decoration: none;
}
.list p{
	padding: 6px;
}



.abc{
	width: 100%;
	height: 420px;
	overflow-y: scroll;
	background-color: #2d2d2d;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
	
	
}
.abc div{
	width: 165px;
	height: 505px;
	text-align: center;
	border-right: 1px solid #747979;
	border-left: 1px solid #747979;
}

.abc p{
	color: white;
	height: 100px;
	line-height: 100px;
	border-top: 1px solid #747979;
}

footer{
	width: 100%;
	height: 50px;
	background-color: #013780;
	border-top: 1px solid #747979;
	
}
}
/*換藍色主題
.color .sidebar{
	background-color: #013780;
}
.color .burger{
	background-color: #01295e;
}
.color .search{
	background-color: red;
}
.search img{
	transform: translateY(-160px);
	filter: drop-shadow(#ffffff 0 160px);
}
.color #yt{
	background-color: red;
	color: white;
}
.color .text{
	background-color: #747979;
}
.color footer{
	background-color: #013780;
}
*/












